
<h1>管理分类</h1>
<hr>
<table>
	<tr>
		<th>分类名称</th>
		<th>类别下商品</th>
		<th>管理</th>
	</tr>
	{% if catList %}	 
		{% for cat in catList %}			
	<form>
	{% csrf_token %}
		<tr>
			<th>{{ cat.name }}</th>
			<th>
			{% if cat.products_set.all %}			
			{% for pro in cat.products_set.all %}
			{{ pro.name }}
			{% endfor %}
			{% else %}
				无
			{% endif %}</th>
			<th>
				<button formaction='delCat' type='submit' formmethod='POST'
					name='catId' value={{ cat.id }}>删除</button>
			</th>
		</tr>
	</form>
		{% endfor %} 
	{% endif %}	
	{% if result %}
		 添加成功
	 
	{% endif %}


	
	